.card-container {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.card-container img {
    display: block;
    cursor: pointer;
    object-fit: fill;
}

.card-container:hover .save-button,
.card-container:hover .saved-button,
.card-container:hover .delete-button {
    display: block;
}

.save-button {
    display: none;
    position: absolute;
    top: 14px;
    right: 14px;
    background-color: #313131;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    min-width: 72px;
    min-height: 21px;
    cursor: pointer;

    font-family: inter, Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: center;
    line-height: 2;
}

.saved-button {
    display: none;
    position: absolute;
    top: 14px;
    right: 14px;
    background: url('../../images/saved-icon.svg');
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.delete-button {
    display: none;
    position: absolute;
    top: 14px;
    right: 14px;
    background: url('../../images/remove-icon.svg');
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
}

.card-title {
    font-family: inter, Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: initial;
    overflow: hidden;
    max-width: 250px;
    height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-time {
    font-family: inter, Arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #8B8B8B;
    background: #2F2F2F;
    border-radius: 3px;
    height: 18px;
    width: 52px;
}

.cord-info-trailer-link {
    color: #fff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .card-container img {
        width: 360px;
        height: 201px;
    }
}

@media (max-width: 768px) {
    .card-container img {
        width: 339px;
        height: 190px;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-title {
        max-width: 210px;
        height: 18px;
        -webkit-line-clamp: 1;
    }
}


@media (max-width: 360px) {
    .card-container img {
        width: 300px;
        height: 168px;
    }
}